@import '../../theme/variables.scss';

.about-us {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: $maxWidthContent;
  display: flex;
  justify-content: center;
}