@import '../../theme/variables.scss';

.not-found {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: $maxWidthContent;
  display: flex;
  justify-content: center;
}