@import "../../../../theme/variables.scss";

.card-list {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
  min-height: 200px;
}

.empty-message {
  font-size: 15px;
}

.card-block {
  margin: 10px;
}