@import "../../theme/variables.scss";

.select {
  width: 250px;
  padding: 5px 10px;
  background-color: transparent;
  color: $colorContentInput;
  border: 2px solid $colorBgInputDefault;
  border-radius: 5px;

  &:focus {
    outline: none;
    border-color: $colorBgInputHover;
  }

  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  option {
    color: black;
  }
}
