$colorAccentText: #FFFFFF;
$colorLowAccentText: #8F98A0;
$colorText: #C6D4DF;
$colorMainBg: #1B2838;
$colorBgHeader: black;
$colorPrimary: #3E6EA6;

$colorTextOnBg: #64676A;

$colorBgBtnDefault: #384D66;
$colorBgBtnHover: #6092CE;
$colorContentBtnDefault: #77CCFF;
$colorContentBtnHover: #FFFFFF;

$colorContentInput: #FFFFFF;
$colorBgInputDefault: #5886be;
$colorBgInputHover: #64c4ff;
$colorInvalidInput: red;

$colorContentGameCard: #FFFFFF;
$colorBgGameCardDefault: #215A7C;
$colorBgGameCardHover: #49a6db;

$maxWidthContent: 1280px;