@import '../../theme/variables.scss';

.main {
  display: flex;
  justify-content: center;
  flex: 1 1;
  padding-top: 30px;
}

.content {
  width: 100%;
  max-width: $maxWidthContent;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
}

.search-container {
  width: 100%;
  padding-left: 110px;
  display: flex;
  align-items: center;

  .title {
    font-size: 1.8rem;
    margin-right: 10px;
  }
}

.preloader-block {
  margin-left: 20px;
}
